.container {
    width: 100%;
    display: flex;
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.bottom {
    width: 100%;
    height: 65vh;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.subContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 28px;
    display: flex;
}

.card {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 10px;
    margin-top: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.QP {
    display: flex;
    gap: 15px;
}

.orderImg {
    width: 150px;
    height: fit-content;
    margin: 0 10px 0 10px;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.02);
    background-color: #e9e8e8;
    box-shadow: 5px 5px 10px -5px rgba(65, 65, 65, 0.415);
}