.container {
    width: 100%;
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    margin-top: px;
    margin-bottom: 50px;
    overflow: hidden;
}

.leftBox {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.rightBox {
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    align-items: start;
    justify-content: start;
}

.profileMenu {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    flex-direction: row;
    box-shadow: 0px 0px 50px -40px #000;
}

.profileImgBox {
    width: 80px;
    height: 60%;
    position: relative;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImg {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.profileImgBox::before {
    content: "Change Profile";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    opacity: 0;
    transition: 0.3s;
}

.profileImgBox:hover::before {
    opacity: 1;
}


.profileMenu>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.profileMenu ul>li {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.profileMenu ul>li a {
    width: 100%;
    height: 100%;
    padding: 50px 80px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}


.profileMenu ul>li a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
}

.profileMenu ul>li:hover a {
    background-color: #ffaf64cc;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 50px -20px #000;
}

.profileMenu ul>li a.logout:hover {
    background-color: #f74949cc;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0px 0px 50px -20px #000;
}

.profileMenu ul>li:active {
    background-color: #FFD4AC;
    border-radius: 20px;
}

/* Xs  */

@media (min-width: 475px) {}

/* Sm  */

/* @media (min-width: 640px){} */
/* Md  */

/* @media (min-width: 768px){} */
/* Lg  */

@media (min-width: 1024px) {
    .container {
        width: 100%;
        display: flex;
        background-color: #f1f1f1;
        flex-direction: row;
        margin-bottom: 0px;
    }

    .leftBox {
        width: 70%;
        /* background-color: red; */
    }

    .rightBox {
        width: 30%;
        background-color: #ebebeb;
        display: flex;
        align-items: start;
        justify-content: center;
        padding: 30px 50px;
    }

    .profileMenu {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 50px 10px;
        border-radius: 20px;
        flex-direction: column;
        box-shadow: 0px 0px 50px -40px #000;
    }

    .profileImgBox {
        width: 180px;
        height: 60%;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profileImg {
        width: 100%;
        height: fit-content;
        object-fit: cover;
    }

    .profileImgBox::before {
        content: "Change Profile";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        opacity: 0;
        transition: 0.3s;
    }

    .profileImgBox:hover::before {
        opacity: 1;
    }


    .profileMenu>ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        margin-top: 50px;
        padding: 50px 10px;
    }

    .profileMenu ul>li {
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        list-style: none;
        cursor: pointer;
    }

    .profileMenu ul>li a {
        width: 100%;
        height: 100%;
        padding: 20px 30px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        list-style: none;
        cursor: pointer;
    }


    .profileMenu ul>li a {
        text-decoration: none;
        color: #333333;
        font-weight: 600;
        font-family: "Outfit", sans-serif;
    }

    .profileMenu ul>li:hover a {
        background-color: #ffaf64cc;
        color: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 50px -20px #000;
    }

    .profileMenu ul>li a.logout:hover {
        background-color: #f74949cc;
        border-radius: 20px;
        color: #fff;
        box-shadow: 0px 0px 50px -20px #000;
    }

    .profileMenu ul>li:active {
        background-color: #FFD4AC;
        border-radius: 20px;
    }
}

/* XL  */

/* @media (min-width: 1280px){} */
/* 2xL  */

/* @media (min-width: 1536px){} */