
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #e3e3e3;
}

.h1 {
    font-size: 14px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: -5px;
}

label {
    padding: 10px;
    margin: -20px 0;
}


input[type="checkbox"] {
    display: none;
}

.checkboxlabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    padding-top: 30px;
    user-select: none;
}

.customcheckbox {
    width: 22px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    transition: all 0.2s ease;
}

.customcheckbox::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    top: 0px;
    left: 5px;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity 0.2s ease;
}

/* When checked */
input[type="checkbox"]:checked+.customcheckbox {
    background-color: #e88922;
    border-color: #985002;
}

input[type="checkbox"]:checked+.customcheckbox::after {
    opacity: 1;
}

label span {
    font-size: 10px;

}

label input[type='checkbox'] {
    vertical-align: middle;
    margin-right: 10px;
}


.img_box {
    display: none;
}

.img_box img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.content form {
    width: 100%;
}

.content .loginhere {
    text-align: center;
    margin-top: -25px;
}

.content form span {
    margin-bottom: 10px;
}

.content form span a {
    text-decoration: none;
    color: #e88922;
}

.content {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e3e3e3;
}

.content form input[type="text"],
[type="email"],
[type="tel"],
[type="password"] {
    height: 40px;
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #5c5c5c;
    border-radius: 0;
    border-radius: 5px;
}

.content form input[type="submit"] {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #e88922;
    color: #fff;
}

.loginhere {
    font-size: 16px;
}

.arrow{
    display: flex;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: -5px;
    margin: 20px;
    color: #000;
}


/* Xs  */

/* @media (min-width: 475px){} */
/* Sm  */

@media (min-width: 640px){
    .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #fff;
}

.contents {
    border: 1px solid #000;

}

.h1 {
    font-size: 16px;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 30px;
}

label {
    padding: 10px;
    margin: -20px 0;
}


input[type="checkbox"] {
    display: none;
}

.checkboxlabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    padding-top: 30px;
    user-select: none;
}

.customcheckbox {
    width: 22px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    transition: all 0.2s ease;
}

.customcheckbox::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    top: 0px;
    left: 5px;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity 0.2s ease;
}

/* When checked */
input[type="checkbox"]:checked+.customcheckbox {
    background-color: #e88922;
    border-color: #985002;
}

input[type="checkbox"]:checked+.customcheckbox::after {
    opacity: 1;
}

label span {
    font-size: 15px;

}

label input[type='checkbox'] {
    vertical-align: middle;
    margin-right: 10px;
}


.img_box {
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.img_box img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.content form {
    width: 100%;
}

.content .loginhere {
    text-align: center;
    margin-top: -25px;
}

.content form span {
    margin-bottom: 10px;
}

.content form span a {
    text-decoration: none;
    color: #e88922;
}

.content {
    width: 60%;
    height: 100vh;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e3e3e3;
}

.content form input[type="text"],
[type="email"],
[type="tel"],
[type="password"] {
    height: 50px;
    padding: 15px 10px;
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    margin: 10px 0;
}

.content form input[type="submit"] {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #e88922;
    border-radius: 5px;
    color: #fff;
}

.loginhere {
    font-size: 14px;
}

.arrow{
    width: 35px;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin: 20px;
    color: #000;
}
}
/* Md  */

@media (min-width: 768px){
    .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #fff;
}

.contents {
    border: 1px solid #000;

}

.h1 {
    font-size: 16px;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 30px;
}

label {
    padding: 10px;
    margin: -20px 0;
}


input[type="checkbox"] {
    display: none;
}

.checkboxlabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    padding-top: 30px;
    user-select: none;
}

.customcheckbox {
    width: 22px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    transition: all 0.2s ease;
}

.customcheckbox::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    top: 0px;
    left: 5px;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity 0.2s ease;
}

/* When checked */
input[type="checkbox"]:checked+.customcheckbox {
    background-color: #e88922;
    border-color: #985002;
}

input[type="checkbox"]:checked+.customcheckbox::after {
    opacity: 1;
}

label span {
    font-size: 13px;

}

label input[type='checkbox'] {
    vertical-align: middle;
    margin-right: 10px;
}


.img_box {
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.img_box img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.content form {
    width: 100%;
}

.content .loginhere {
    text-align: center;
    margin-top: -25px;
}

.content form span {
    margin-bottom: 10px;
}

.content form span a {
    text-decoration: none;
    color: #e88922;
}

.content {
    width: 50%;
    height: 100vh;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e3e3e3;
}

.content form input[type="text"],
[type="email"],
[type="tel"],
[type="password"] {
    height: 50px;
    padding: 15px 10px;
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    margin: 10px 0;
}

.content form input[type="submit"] {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #e88922;
    border-radius: 5px;
    color: #fff;
}

.loginhere {
    font-size: 16px;
}

.arrow{
    width: 35px;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin: 20px;
    color: #000;
}
}
/* Lg  */

@media (min-width: 1024px){
    .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #fff;
}

.contents {
    border: 1px solid #000;

}

.h1 {
    font-size: 16px;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 30px;
}

label {
    padding: 10px;
    margin: -20px 0;
}


input[type="checkbox"] {
    display: none;
}

.checkboxlabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    padding-top: 30px;
    user-select: none;
}

.customcheckbox {
    width: 22px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    transition: all 0.2s ease;
}

.customcheckbox::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    top: 0px;
    left: 5px;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity 0.2s ease;
}

/* When checked */
input[type="checkbox"]:checked+.customcheckbox {
    background-color: #e88922;
    border-color: #985002;
}

input[type="checkbox"]:checked+.customcheckbox::after {
    opacity: 1;
}

label span {
    font-size: 15px;

}

label input[type='checkbox'] {
    vertical-align: middle;
    margin-right: 10px;
}


.img_box {
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.img_box img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.content form {
    width: 100%;
}

.content .loginhere {
    text-align: center;
    margin-top: -25px;
}

.content form span {
    margin-bottom: 10px;
}

.content form span a {
    text-decoration: none;
    color: #e88922;
}

.content {
    width: 50%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e3e3e3;
}

.content form input[type="text"],
[type="email"],
[type="tel"],
[type="password"] {
    height: 50px;
    padding: 15px 10px;
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    margin: 10px 0;
}

.content form input[type="submit"] {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #e88922;
    border-radius: 5px;
    color: #fff;
}

.loginhere {
    font-size: 16px;
}

.arrow{
    width: 35px;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin: 20px;
    color: #000;
}

}
/* XL  */

@media (min-width: 1280px){
    .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #fff;
}

.contents {
    border: 1px solid #000;

}

.h1 {
    font-size: 16px;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 30px;
}

label {
    padding: 10px;
    margin: -20px 0;
}


input[type="checkbox"] {
    display: none;
}

.checkboxlabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    padding-top: 30px;
    user-select: none;
}

.customcheckbox {
    width: 22px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    transition: all 0.2s ease;
}

.customcheckbox::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    top: 0px;
    left: 5px;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity 0.2s ease;
}

/* When checked */
input[type="checkbox"]:checked+.customcheckbox {
    background-color: #e88922;
    border-color: #985002;
}

input[type="checkbox"]:checked+.customcheckbox::after {
    opacity: 1;
}

label span {
    font-size: 15px;

}

label input[type='checkbox'] {
    vertical-align: middle;
    margin-right: 10px;
}


.img_box {
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.img_box img{
    width: 100%;
    height: 90vh;
    object-fit: contain;
}

.content form {
    width: 100%;
}

.content .loginhere {
    text-align: center;
    margin-top: -25px;
}

.content form span {
    margin-bottom: 10px;
}

.content form span a {
    text-decoration: none;
    color: #e88922;
}

.content {
    width: 60%;
    height: 100vh;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e3e3e3;
}

.content form input[type="text"],
[type="email"],
[type="tel"],
[type="password"] {
    height: 50px;
    padding: 15px 10px;
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    margin: 10px 0;
}

.content form input[type="submit"] {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #e88922;
    border-radius: 5px;
    color: #fff;
}

.loginhere {
    font-size: 16px;
}

.arrow{
    width: 35px;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin: 20px;
    color: #000;
}
}
/* 2xL  */

/* @media (min-width: 1536px){} */