.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.content{
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    padding: 50px 30px;
}