.otpContainer{
    width: 100%;
    height: 100vh;
    background-color: #00000076;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    color: #000;
    font-size: 34px;
}

.subtle{
    color: #777;
    font-size: 16px;
}

.otpContainer form{
    width: 40%;
    height: auto;
    background-color: #fff;
    padding: 40px;
}


.otpContainer input[type='text']{
    padding: 15px 10px;
}

form input{
    margin:  20px 0;
}

.email button, .resend button{
    color: #e88922;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: 0.5s;
}

.email button:disabled, .resend button:disabled{
    color: #9a9a9a;
}

.email{
    padding: 2px;
    color: #0f036a;
}

.email .mail{
    border: 1px solid #0f036a;
    padding: 1px 5px;
    border-radius: 5px;
}


.otpContainer form .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #e88922;
    color: #fff;
}

.reactions{
    width: 100%;
    display: flex;
    align-items: start;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

