.container{
    height: 98vh;
    width: 80%;
    display: flex;
    background-color: #F3F4F6;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    right: 15px;
    overflow-y: scroll;
}

.bottom{
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.subContainer{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom h1{
    font-size: 28px;
    display: flex;
}

.card{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 10px;
    margin-top: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.QP{
    display: flex;
    gap: 15px;
}

.orderImg{
    width: 150px;
    height: fit-content;
    margin: 0 10px 0 10px;
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.02);
    background-color: #e9e8e8;
    box-shadow: 5px 5px 10px -5px rgba(65, 65, 65, 0.415);
}